{% extends "base.html" %}


{% block content %}
<div class="card w-50 border-dark mb-3">
    <h1 class="card-header">Ricevuta: {{ incasso.ricevuta }}</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Importo: {{ incasso.importo }}</li>
        <li class="list-group-item">Data ricevuta: {{ incasso.data }}</li>
        <li class="list-group-item">Modalità: {{ incasso.canale }}</li>
        <li class="list-group-item">Committente: {{ incasso.committente }}</li>
        <li class="list-group-item">Versato: {{ incasso.versato }}</li>
        <li class="list-group-item">Transazione bancaria: {{ incasso.transazione }}</li>
        <li class="list-group-item">Data inserimento: {{ incasso.created_at }}</li>
        <div class="card-body">
            <a href="{% url 'incasso_edit_view' incasso.pk %}" class="btn btn-info">Modifica</a>
            <a href="{% url 'incasso_delete_view' incasso.pk %}" class="btn btn-danger">Cancella</a>
            <a href="{% url 'incassi_view' %}" class="btn btn-secondary">Indietro</a>
        </div>
    </ul>
</div>


{% endblock content %}