{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <br/>
  <div class="container p-5 bg-success bg-opacity-50 rounded-4 mx-auto" style="max-width: 50%;">
    <h1 class="display-4">Cashflows app</h1>
    <p class="lead">Un'applicazione per la gestione dei flussi di cassa scritta in Django.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'incassi_view' %}" role="button">Visualizza incassi</a>
    </p>
  </div>
{% endblock content %}